@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Source+Sans+Pro:wght@200&display=swap');


body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#content{
  max-width: 1600px;
  margin: 0 auto;
}
#logo-style{
  border-radius: 50%;
  border-style: solide 1px;
}
.top-nav {
  background-color: #F55D3E;
  display: block;
  text-align: right;
  color: white;
  height: 30px;
  padding: 15px;
  justify-content: space-around;
  text-decoration: none;
  font-size: 18px;
}
nav1 a{
  text-decoration: none;
  color: white;
}
nav1 a:hover{
  text-decoration: none;
  color: #230444;
}
.second-nav{
  display: block;
}

.grid-header{
  margin-top:0;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}
.grid-logo{
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: #230444;
  

}
.grid-nav {
  grid-column-start: 4;
  grid-column-end: 16;
  text-align: right;
  background-color: #230444;
  color: white;
  padding: 15px;
  justify-content: space-around;
  font-size: 18px;
}
  nav a{
  text-decoration: none;
  color: white;
}


nav a:hover{
  color:#F55D3E; 
}


/*------------------------------------hero image----------------------------------*/
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("container-vessel.png");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
 
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 20px;
  color: white;
  background-color: #F55D3E;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
  
}
/*
#hero-textb2{
  border: none;
  outline: 0;
  display: inline-block;
  padding: 25px;
  color: white;
  background-color:#230444;
  background-color: ;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
  
}
*/

.hero-text button:hover {
  background-color:#230444;
  color: white;
}
/*--------------------------------------------end hero image--------------------------------*/

.main-services{
  display: flex;
  flex-wrap: nowrap;
  margin: auto;
  width: 50%;
  padding: 35px;
  border-spacing: 25px;
}
.center{
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 35px;
  font-size: 25px;
  color:#230444;

} 
p{
  font-size: 20px;
} 
  
footer a{
  color: white;
  font-size: 18px;
  text-decoration: none;
}
footer a:hover{
  color:#230444;
}
.icon{
  width: 80px;
}
footer {
  background-color: #F55D3E;
  padding: 25px 50px;
  margin-top: 200px; 
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  
}
.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
@media only screen and (max-width: 600px) {
  .main-services {
  display: block;
  }
  .grid-nav{
    display: block;
  }
  footer{
    display: block;
  }
  .grid-logo{
    display: block;
  }
}